
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0%;
}

body{
    background: #5930fc;
    background: linear-gradient(90deg, rgba(89, 48, 252, 1) 0%, rgba(47, 44, 222, 1) 50%, rgba(2, 0, 120, 1) 100%, rgba(20, 17, 158, 1) 100%);
    counter-reset: section;
    margin: 0px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;

}

.cabecalho{
    text-align: center;
    
}

.titulo{
    font-size: 55px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(130, 151, 255);
    font-size: large;

}

ul li{
    align-items: center;
    float: left
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover{
    background-color: rgb(0, 0, 63);
    color: white;
}

.conteiner{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    

}

.fotos{
    padding: 12px;
    background-color: rgb(232, 231, 231);
    border-radius: 12px;
}

footer{
    text-align: center;
}

.botao{
    text-align: center;
    padding-top: 12px;

}